html {
    font-size: 100%;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background: #1B1A2F;
    color: #F7F7EC;
}

main {
    margin: 40px auto;
    font-size: 2em;
}

.counter-1 {
    padding: 40px;
    display: block;
    text-align: center;
}

button:hover {
    cursor: pointer;
}